a{
    text-decoration: none !important;
    outline: none;
    
}
a:focus a:hover a:visited a:link a:active{
    text-decoration: none;
}
.center__box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align:center;
    margin-top: 20px;
    width:100%;
    min-height:100vh;
    height: 100%;
}

.container__box{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.view__more{
    color:rgb(114, 110, 110);
    cursor: pointer;
}