@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100%;
  background: url("https://d1dlh1v05qf6d3.cloudfront.net/information/uploads/2014/07/iStock_000000063151_Small.jpg");
  background-repeat: no-repeat;
  background-size: 250vh 100vh;
}
a{
  text-decoration: none;
  outline:none;
}

.home__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.home__logo {
  display: flex;
  justify-content: center;
}

.library__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.library__desc > h3 {
  margin-top: 10px;
  text-align: center;
  font-size: xx-large;
  font-family: "Cedarville Cursive", cursive;
}
.library__desc > p {
  color: gray;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.choice__auth {
  display: block;
  margin-top: 10px;
  text-align: center;
  justify-content: center;

}
.choice__row{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.Option{
    font-size: 1.5em;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #3f51b5;
    border-radius: 4px;
    color:blanchedalmond;
    margin :20px;
    padding:10px;

}
